<% if ((quickActions || []).length) { %>
<button id="mcFab" class="mc-fab" aria-controls="mcSheet" aria-expanded="false">Menu</button>
<div id="mcSheet" class="mc-sheet" aria-hidden="true">
  <div class="mc-head">Menu Cepat</div>
  <div class="mc-sub">Akses menu <%= settings.siteName || 'website' %></div>
  <div class="mc-list">
    <% quickActions.forEach(function(item) { %>
    <a class="mc-item" href="<%= item.link || '#' %>" style="<%= item.color ? 'border-color:'+item.color : '' %>" <%= item.link && item.link !== '#' ? 'target="_blank" rel="noopener"' : '' %>><div class="mc-icon"><% if (item.icon) { %><img src="<%= item.icon %>" alt="<%= item.title %>" loading="lazy"><% } else { %>🔗<% } %></div><div><div class="mc-ttl"><%= item.title %></div><div class="mc-desc">Quick access <%= item.title %></div></div></a>
    <% }) %>
    <button class="mc-close" type="button" id="mcClose">✕ Close Menu</button>
  </div>
</div>
<% } %>
